*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}
body{
	width: 100%;
	min-height: 100vh;

background-color: rgba(0, 0, 0,.5);
background-image: url(zero-take-WvHrrR1C5Po-unsplash.jpg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
}
.container .boxs{
	display: flex;

	
}
.boxs{
	max-height: 120vh;

	 display: flex;
	justify-content: center;
	align-items: center;	
	 
		
}
.boxs .box1{
	width: 50vw;
	height: 70vh;
	background-color:rgba(232, 223, 205) ;
box-shadow: 1px 4px 10px 10px rgba(0, 0, 0, 0.4);
background-image: url(prometey-sanchez-noskov-pB7e8JL5KMI-unsplash.jpg);
background-size: cover;
background-position: center;

	margin-right: 10px;
}
.boxs .box2{

	background-color: rgb(205, 232, 232);
	width: 30%;
	height: 80vh; 
	opacity: .8;
	box-shadow: 1px 4px 10px 10px rgba(18, 17, 17, 0.4);

}

@media only screen and (max-width:1000px) {
	.boxs{
	 max-height: 150vh; 
		display: flex;
		flex-direction: column;

	
	}
	.boxs .box1{
			
			width: 70vw;
	height: 70vh;
	margin-top: 15px;
margin-right: 0;
background-image: url(prometey-sanchez-noskov-pB7e8JL5KMI-unsplash.jpg);
	}
	.boxs .box2{
			width: 70vw;
	margin-top: 20px;
	margin-bottom: 20px;
	}


	
}
@media only  screen and (max-width:570px) {
	#loge {
		display: flex;
		flex-direction:column ;
		margin-left: 30%;
	}
}
.logo{
	font-size: 30px;
	font-weight: bold;
width: 350px;
margin: 20px;

height: 50px;
text-align: center;
	color: white;
	background-image: linear-gradient(100deg,rgb(81, 255, 0),rgb(255, 255, 255),rgb(226, 201, 201));
	-webkit-background-clip: text;	
color: transparent;
}


form h2{
color: rgb(47, 37, 37);
 text-align: center;
padding: 20px;
}
h2 span{
	font-size: 20px;
	margin-top: 10px;
	color:blue;
	padding: 20px;
}
form .login{	
height: 40vh;

	 display: grid;
		place-items: center;
		
}
#user{
	margin-top: 20px;
}
.login #user input{
width: 250px;
height: 30px;
all: unset;
border-bottom: 1px solid black;

margin-bottom: 10px;

}
#user input::placeholder{
	color: rgb(44, 41, 41);
 
}
.login #check{
	display: flex;
	flex-direction: row;
width: 200px;
padding-top: 10px;
gap: 5px;
	}
	#check input{
  width:16px;
	}

.login #btn button{
	width: 11rem;
	height: 30px;
	margin-top: 20px;
	border-radius: 10px;
	background: rgb(0, 255, 30);
	outline: red;
	border: none;
	transition: background .8s ease-in-out ;
	color: rgb(255, 255, 255);
	font-size: 15px;
	font-weight: 200;
}
#btn button:hover{
	width: 11rem;
	border: 2px solid yellowgreen;
	background-color: blue;
}
.login .for-reg{
	width: 100%;
	display:flex;
	justify-content: space-around;
	margin-top: 20px;
}
.for-reg a{

	text-decoration: none;
	color: rgb(64, 9, 204);
	padding: 10px;


}
.for-reg a:hover{
text-decoration: underline;

}
.login #or {
	display: flex;
	
}
.icon p{
font-size: 15px;
font-weight: 600;
color: rgb(245, 10, 175);
 padding-left: 10px;
margin-bottom: 10px; 
text-align: center;
}
#or a img{
	width: 20px;
	margin-left: 20px;
	border-radius: 20px;
 margin: 10px;
}
